<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to VegaDine</h1>
  </br>
    <p>Find vegan and vegetarian restaurants near you</p>
  </br>
    <a class = "btn-lg btn-primary" href="/restaurants">Restaurants</a>
  </div>
</div>
