<div class="col-xs-12 col-sm-6" data-spy="scroll" data-target="#sidebar-nav">
  <div class="row">
    <div class = "well text-center">
      <a href = "/sign_up" class = "btn btn-lg btn-primary">Sign Up</a>
      <a href = "/login" class = "btn btn-lg btn-primary">Login</a>
    </div>
  </div>
</div>
