<div class="col-xs-12 col-sm-6" data-spy="scroll" data-target="#sidebar-nav">
  <div class="row">
     <div class="well">
         <form class="form text-center"  action = "/sign_up" method = "POST">
            <h4>Sign-up</h4>
          </br>
            <input type="email" class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" name = "email" required>
            <input type="password" class="form-control input-lg" title="Choose a password on steroids." placeholder="Enter your muscular password" name = "password" required>
            <input type="password" class="form-control input-lg" title="Confirm the password" placeholder="Confirm the password" name = "password2" required>
          </br>
            <h5>{{msg}}</h5>
          </br>
            <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
     </div><!--/well-->
  </div><!--/row-->
</div><!--/.row-->
